<%- include('/layouts/_config') -%>
<% config.meta.title = 'ホーム' %>
<%- include('/layouts/_header') -%>

<div id="home" class="container">
    <div class="jumbotron">
        <div class="text-center">
            <h1>Welcome to the Mixed-Nuts!!!</h1>
        </div>
    </div>
</div>

<%- include('/layouts/_footer') -%>
