<%- include('/layouts/_config') -%>
<% config.meta.title = '聖杯レイアウト' %>
<%- include('/layouts/_header') -%>

<div id="home" class="container">
    <h1>Home</h1>
    <h2>Page Sample</h2>
    <ul>
        <li><a href="/pages/holy_grail.html">聖杯レイアウト</a></li>
        <li><a href="/pages/contact_form/index.html">お問い合わせフォーム</a></li>
    </ul>
</div>

<%- include('/layouts/_footer') -%>
