<%- include resources/views/layouts/_config.ejs -%>
<% config.meta.title = 'ホーム' %>
<%- include resources/views/layouts/_header.ejs -%>

<div id="home" class="container">
    <div class="jumbotron">
        <div class="text-center">
            <h1>Welcome to the Mixed-Nuts!!!</h1>
        </div>
    </div>
</div>

<%- include resources/views/layouts/_footer.ejs -%>
