<%- include resources/views/layouts/_config -%>
<% config.meta.title = 'お問い合わせフォーム' %>
<%- include resources/views/layouts/_header -%>

<div id="contact_form" class="container">
    <h2>お問い合わせありがとうございました。</h2>
</div>

<%- include resources/views/layouts/_footer -%>