<%- include('/layouts/_config') -%>
<% config.meta.title = 'お問い合わせフォーム' %>
<%- include('/layouts/_header') -%>

<div id="contact_form" class="container">
    <h2>お問い合わせありがとうございました。</h2>
</div>

<%- include('/layouts/_footer') -%>
