#holy-grail {
    display: flex;

    .left {
        flex: 0 180px;
        background: tomato;
        padding: 0 10px;
    }

    .center {
        flex: 1;
        background: skyblue;
        padding: 0 10px;
    }

    .right {
        flex: 0 180px;
        background: pink;
        padding: 0 10px;
    }
}

@media all and (max-width: 500px) {
    #holy-grail {
        flex-direction: column;

        .center {
            order: 1;
            flex: 100%;
        }
        .left {
            order: 2;
            flex: 100%;
        }
        .right {
            order: 3;
            flex: 100%;
        }
    }
}
