// sticky footer
body {
    display: flex;
    margin: 0;
}

#app {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

main {
    flex: 1 1 auto;
}

// footer layout
footer {
    margin-top: 30px;
    background-color: #333;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color : #fff;
}
