
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Components
@import "components/header";
@import "components/footer";

// Pages
@import "pages/home";
@import "pages/holy_grail";
@import "pages/contact_form";
