        </main>
        <footer class="footer">
            <div class="container">
                © 2018 u-can.tech
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="/js/app.js<%= '?ver=' + config.assets.app.js.updated_at %>"></script>
</body>
</html>
