<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <title><%= config.meta.title %></title>
    <meta name="description" content="<%= config.meta.title %>">
    <link href="/css/app.css" rel="stylesheet" type="text/css" />
</head>
<body class="<%= config.body.class %>">
    <div id="app">
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/index.html">Home</a>
                    </div>
                </div>
            </nav>
        </header>
        <main>
