<%- include('/layouts/_config') -%>
<% config.meta.title = 'holy-grail' %>
<% config.body.class = '' %>
<%- include('/layouts/_header') -%>

<article class="holy-grail-center">
    <h2>聖杯レイアウト</h2>
</article>
<nav class="holy-grail-left">
    <h3>左サイドバー</h3>
</nav>
<aside class="holy-grail-right">
    <h3>右サイドバー</h3>
</aside>

<%- include('/layouts/_footer') -%>
